@model ControleTarefas.Models.TarefasModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="d-flex justify-content-center">Editar Tarefa</h1>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Título</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarefa" class="control-label"></label>
                <input asp-for="Tarefa" class="form-control" />
                <span asp-validation-for="Tarefa" class="text-danger"></span>
            </div>
            <div class="p-3 text-center form-group">
                <button type="submit" value="Save" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" type="button" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
