@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Bem-vindo ao nosso projeto.</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Diagrama de caso de uso</h3>
                <a class="navbar-brand" href="#">
                    <img src="~/assets/Caso de uso.drawio.jpg" alt="Logo" class="img-fluid" width="900" height="400">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Diagrama de caso de uso</h3>
                <a class="navbar-brand" href="#">
                    <img src="~/assets/Classes.jpg" alt="Logo" class="img-fluid" width="900" height="400">
                </a>
            </div>
        </div>
    </div>
</div>